div.element-container.css-7c20hn.esravye2 {
    font-size: 20px;
    text-align: center
}

h2 { 
    text-align: center;
}

footer.css-10pw50.e1g8pov61 {
    display: none;
}

/* div.css-14xtw13.e13qjvis0 {
    display: none;
} */


